# Datan analysointi S2020 - Tehtävät 1
Palauta ratkaisusi Moodleen, kun olet ensin testannut ratkaisusi toimivuuden Notebookilla tai omalla koneellasi. Kun olet palauttanut tehtäväsi Moodleen, ne arvioidaan pistein:

1,0 p. Vastaus oikein ensimmäisellä yrityksellä.
0,5 p. Vastaus oikein toisella yrityksellä.
0 p. Vastaus väärin kolmannella yrityksellä.
Tee tehtävät ilman for-silmukoita tms.

1. NumPy-taulukot - kappaleen lähtönopeus
Kappaleen lähtönopeuden laskemiseksi on mitattu seuraava data:

kulma=[10, 15, 20, 25, 30] 
kantama=[22.7, 21.9, 26.1, 28.8, 29.8], 
missä  kulma  on vaakatason ja kappaleen lähtönopeusvektorin välinen kulma asteina ja  kantama  on kappaleen lentomatka yksiköissä cm.

Kappaleen lähtönopeus on silloin
nopeus=kantama⋅9.82 m/s2sin(2⋅kulma)‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾√.
 
Kirjoita python funktio nopeus(kulma, kantama), joka otta argumenteikseen python listat (kulma ja kantama) ja tulostaa lopuksi yllä olevalla kaavalla lasketun parametrin nopeus.

Käytä numpy taulukoiden funktioita ratkaisussasi. Anna vastauksesi yksiköissä m/s. Sinun tarvitsee ottaa käyttöön ainoastaan annettu kaava sekä tehdä tarvittavat yksikkömuunnokset.

Funktion kutsun nopeus(kulma, kantama) em. kulma ja kantama taulukoilla pitäisi palauttaa:\ [2.55295306 2.07392382 1.99683532 1.92143193 1.83822454]

In [1]:
import numpy as np

In [7]:
# Voit testata funktiotasi seuraavalla lähtödatalla:
kulma = [10, 15, 20, 25, 30]
kantama = [22.7, 21.9, 26.1, 28.8, 29.8]

### Palautettavan tehtävän osa alkaa tästä ###

lista=[]
def nopeus(kulma, kantama):
    # Kirjoita vastauksesi tämän funktiorakenteen sisälle:
    a=0
    while a!=5:
        x=(kantama[a]/100)*9.82
        y=np.sin(2*kulma[a]*np.pi/180)
        z=np.sqrt(x/y)
        lista.append(z)
        a=a+1
    # Lopuksi tulostetaan määrittämäsi numpy taulukko nopeus:
    print(np.round(lista,8))

In [8]:
### Palautettavan tehtävän osa päättyy tähän.  

# Ennen tehtävän palauttamista Moodleen, kokeile sitä seuraavasti:
nopeus(kulma, kantama)

[2.55295306 2.07392382 1.99683532 1.92143193 1.83822454]

In [127]:
x=(kantama[0]/100)*9.82
y=np.sin(2*kulma[0]*np.pi/180)
z=np.sqrt(x/y)
z

2.552953062745092

In [ ]:
# Voit testata funktiotasi seuraavalla lähtödatalla:
kulma = [10, 15, 20, 25, 30]
kantama = [22.7, 21.9, 26.1, 28.8, 29.8]

### Palautettavan tehtävän osa alkaa tästä ###
def nopeus(kulma, kantama):
    # Kirjoita vastauksesi tämän funktiorakenteen sisälle:
    a=0
    l=[]
    while a!=5:
        x=(kantama[a]/100)*9.82
        y=np.sin(2*kulma[a])
        z=np.sqrt(x/y)
        l.append(z)
        a=a+1
    print(l)
    # Lopuksi tulostetaan määrittämäsi numpy taulukko nopeus:
    print(nopeus)

In [46]:
 x=(kantama[0]/100)*9.82
print(x)

2.2291399999999997

In [47]:
y=np.sin(20)
print(y)

0.9129452507276277

In [50]:
z=np.sqrt(x/y)
z

1.5625945514062618

In [45]:
np.sin(20)

0.9129452507276277

In [31]:
w=np.random.randint(1,6,size=10000000 )
w

array([3, 2, 2, ..., 2, 5, 2])

In [32]:
z=np.random.randint(1,6,size=10000000 )
z

array([2, 1, 3, ..., 5, 1, 4])

In [33]:
k=np.random.randint(1,6,size=10000000 )
k

array([5, 5, 5, ..., 1, 4, 5])

In [41]:
true=0
false=0
i=0
lista2=[]
while i!=10000000:
    if w[i]==z[i]==k[i]:
        lista2.append(1)
    else: 
        lista2.append(0)
    i=i+1
print(lista2)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
true=true+1
 false=false+1

In [39]:
tulos=true/10000000
print(np.round(tulos,decimals=2))

NameError: name 'true' is not defined

In [14]:
import numpy as np
w=np.random.randint(1,6,size=10000000)
z=np.random.randint(1,6,size=10000000)
k=np.random.randint(1,6,size=10000000)
true=0
false=0
i=0
lista2=[]
while i!=1000000:
    if w[i]==z[i]==k[i]:
        lista2.append(1)
        true=true+1
    else: 
        lista2.append(0)
        false=false+1
    i=i+1
tulos=true/1000000
print(np.round(tulos,decimals=2))

0.04

In [30]:
import numpy as np
w=np.random.randint(1,6,size=10000000)
z=np.random.randint(1,6,size=10000000)
k=np.random.randint(1,6,size=10000000)
w1=pd.DataFrame(w, columns = ["w"])
z1=pd.DataFrame(z, columns = ["z"])
k1=pd.DataFrame(k, columns = ["k"])
noppa=pd.concat([w1,z1,k1],axis=1)

noppa["true"]=noppa.apply(lambda x:1 if noppa[w]==noppa[z] & noppa[z]==noppa[k] else 0)
noppa

KeyError: "None of [Int64Index([3, 4, 2, 4, 2, 2, 1, 4, 3, 5,\n            ...\n            3, 4, 4, 2, 5, 3, 3, 4, 2, 5],\n           dtype='int64', length=10000000)] are in the [columns]"

3. DataFrame - Veikkausliiga

In [11]:
veikkausliiga = {1990: {'HJK': 1,'Kuusysi': 2,'MP': 3,'Reipas': 4,'RoPS': 5,'KuPS': 6,'TPS': 7,'Haka': 8,'Ilves': 9,'OTP': 10,'KPV': 11,'Kumu': 12}, 1991: {'Kuusysi': 1,'MP': 2,'Haka': 3,'Jaro': 4,'HJK': 5,'Ilves': 6,'RoPS': 7,'Jazz': 8,'TPS': 9,'KuPS': 10,'OTP': 11,'Reipas': 12}, 1992: {'HJK': 1,'Kuusysi': 2,'Jazz': 3,'MYPA': 4,'Jaro': 5,'Haka': 6,'RoPS': 7,'Ilves': 8,'TPS': 9,'MP': 10,'FC/AC Oulu': 11,'KuPS': 12}, 1993: {'Jazz': 1,'MYPA': 2,'HJK': 3,'Kuusysi': 4,'FinnPa': 5,'TPV': 6,'RoPS': 7,'TPS': 8,'MP': 9,'Haka': 10,'Jaro': 11,'Ilves': 12}, 1994: {'TPV': 1,'MYPA': 2,'HJK': 3,'Jazz': 4,'RoPS': 5,'Haka': 6,'Jaro': 7,'TPS': 8,'Kuusysi': 9,'FinnPa': 10,'MP': 11,'Ilves': 12,'FC/AC Oulu': 13,'KuPS': 14}, 1995: {'Haka': 1,'MYPA': 2,'HJK': 3,'Jazz': 4,'Jaro': 5,'TPS': 6,'Ilves': 7,'FinnPa': 8,'RoPS': 9,'VPS': 10,'MP': 11,'TPV': 12,'Kuusysi': 13,'Ponnistus': 14}, 1996: {'Jazz': 1,'MYPA': 2,'TPS': 3,'FinnPa': 4,'Jaro': 5,'Inter': 6,'VPS': 7,'RoPS': 8,'HJK': 9,'Ilves': 10,'Haka': 11,'MP': 12}, 1997: {'HJK': 1,'VPS': 2,'FinnPa': 3,'TPS': 4,'MYPA': 5,'RoPS': 6,'Jazz': 7,'Jaro': 8,'TP-Seinäjoki': 9,'Inter': 10}, 1998: {'Haka': 1,'VPS': 2,'PK-35': 3,'HJK': 4,'Jazz': 5,'TPS': 6,'MYPA': 7,'RoPS': 8,'FinnPa': 9,'Jaro': 10}, 1999: {'Haka': 1,'HJK': 2,'MYPA': 3,'Jokerit': 4,'Inter': 5,'Jazz': 6,'KooTeePee': 7,'RoPS': 8,'TPS': 9,'Lahti': 10,'VPS': 11,'TPV': 12}, 2000: {'Haka': 1,'Jokerit': 2,'MYPA': 3,'HJK': 4,'Jazz': 5,'TamU': 6,'Inter': 7,'Lahti': 8,'RoPS': 9,'VPS': 10,'TPS': 11,'KooTeePee': 12}, 2001: {'TamU': 1,'HJK': 2,'MYPA': 3,'Haka': 4,'Inter': 5,'VPS': 6,'Atlantis': 7,'KuPS': 8,'Lahti': 9,'Jazz': 10,'Jokerit': 11,'RoPS': 12}, 2002: {'HJK': 1,'MYPA': 2,'Haka': 3,'Allianssi': 4,'TamU': 5,'Inter': 6,'Jaro': 7,'Lahti': 8,'KuPS': 9,'Hämeenlinna': 10,'VPS': 11,'Jazz': 12}, 2003: {'HJK': 1,'Haka': 2,'TamU': 3,'MYPA': 4,'Lahti': 5,'Allianssi': 6,'Inter': 7,'Jaro': 8,'TPS': 9,'Jokerit': 10,'Hämeenlinna': 11,'Jazz': 12,'KooTeePee': 13,'KuPS': 14}, 2004: {'Haka': 1,'Allianssi': 2,'TamU': 3,'Inter': 4,'TPS': 5,'HJK': 6,'Lahti': 7,'MYPA': 8,'KooTeePee': 9,'TP-47': 10,'Jaro': 11,'RoPS': 12,'Jazz': 13,'Hämeenlinna': 14}, 2005: {'MYPA': 1,'HJK': 2,'TamU': 3,'Haka': 4,'Inter': 5,'Lahti': 6,'Allianssi': 7,'KooTeePee': 8,'TPS': 9,'KuPS': 10,'Jaro': 11,'IFK Mariehamn': 12,'RoPS': 13,'TP-47': 14}, 2006: {'TamU': 1,'HJK': 2,'Haka': 3,'Honka': 4,'IFK Mariehamn': 5,'MYPA': 6,'TPS': 7,'Lahti': 8,'VPS': 9,'Inter': 10,'KooTeePee': 11,'Jaro': 12,'KuPS': 13}, 2007: {'TamU': 1,'Haka': 2,'TPS': 3,'Honka': 4,'MYPA': 5,'IFK Mariehamn': 6,'HJK': 7,'Lahti': 8,'Inter': 9,'VPS': 10,'Jaro': 11,'KooTeePee': 12,'Viikingit': 13,'FC/AC Oulu': 14}, 2008: {'Inter': 1,'Honka': 2,'Lahti': 3,'HJK': 4,'MYPA': 5,'TPS': 6,'TamU': 7,'Haka': 8,'Jaro': 9,'RoPS': 10,'VPS': 11,'IFK Mariehamn': 12,'KuPS': 13,'KooTeePee': 14}, 2009: {'HJK': 1,'Honka': 2,'TPS': 3,'IFK Mariehamn': 4,'Inter': 5,'Haka': 6,'TamU': 7,'VPS': 8,'MYPA': 9,'Jaro': 10,'Lahti': 11,'KuPS': 12,'JJK': 13,'RoPS': 14}, 2010: {'HJK': 1,'KuPS': 2,'TPS': 3,'Honka': 4,'Jaro': 5,'Inter': 6,'TamU': 7,'Haka': 8,'MYPA': 9,'VPS': 10,'FC/AC Oulu': 11,'IFK Mariehamn': 12,'JJK': 13,'Lahti': 14}, 2011: {'HJK': 1,'Inter': 2,'JJK': 3,'Honka': 4,'TPS': 5,'KuPS': 6,'IFK Mariehamn': 7,'MYPA': 8,'VPS': 9,'Haka': 10,'Jaro': 11,'RoPS': 12}, 2012: {'HJK': 1,'Inter': 2,'TPS': 3,'IFK Mariehamn': 4,'Lahti': 5,'MYPA': 6,'Honka': 7,'VPS': 8,'JJK': 9,'KuPS': 10,'Jaro': 11,'Haka': 12}, 2013: {'HJK': 1,'Honka': 2,'VPS': 3,'IFK Mariehamn': 4,'Lahti': 5,'MYPA': 6,'KuPS': 7,'TPS': 8,'Inter': 9,'Jaro': 10,'RoPS': 11,'JJK': 12}, 2014: {'HJK': 1,'SJK': 2,'Lahti': 3,'VPS': 4,'IFK Mariehamn': 5,'Jaro': 6,'KuPS': 7,'MYPA': 8,'Inter': 9,'RoPS': 10,'Honka': 11,'TPS': 12}, 2015: {'SJK': 1,'RoPS': 2,'HJK': 3,'Inter': 4,'Lahti': 5,'IFK Mariehamn': 6,'HIFK': 7,'Ilves': 8,'KuPS': 9,'VPS': 10,'KooTeePee': 11,'Jaro': 12}, 2016: {'IFK Mariehamn': 1,'HJK': 2,'SJK': 3,'VPS': 4,'Ilves': 5,'RoPS': 6,'KuPS': 7,'Lahti': 8,'PS Kemi': 9,'HIFK': 10,'Inter': 11,'PK-35': 12}, 2017: {'HJK': 1,'KuPS': 2,'Ilves': 3,'Lahti': 4,'IFK Mariehamn': 5,'SJK': 6,'RoPS': 7,'VPS': 8,'Inter': 9,'PS Kemi': 10,'HIFK': 11,'JJK': 12},2018: {'HJK': 1,'RoPS': 2,'KuPS': 3,'Honka': 4,'Ilves': 5,'VPS': 6,'Inter': 7,'Lahti': 8,'SJK': 9,'IFK Mariehamn': 10,'TPS': 11,'PS Kemi': 12}, 2019: {'KuPS': 1,'Inter': 2,'Honka': 3,'Ilves': 4,'HJK': 5,'IFK Mariehamn': 6,'HIFK': 7,'Lahti': 8,'SJK': 9,'RoPS': 10,'KPV': 11,'VPS': 12}}
# Kirjoita vastauksesi tähän, jossa hyödynnät pandas DataFramea.
import pandas as pd
df=pd.DataFrame(veikkausliiga)
df=df.T
df=df.fillna(0)
df=df[df["HJK"]<=3]
df2=df[4:11][["RoPS","HJK","Ilves"]]
tulos=df2[["RoPS","HJK","Ilves"]].applymap(lambda x:"yli 10" if x>= 10 else x)
tulos["HJK"]=tulos["HJK"].astype(int)
tulos["Ilves"]=tulos["Ilves"].astype(int)
#Älä kirjoita tähän muita print komentoja kuin viimeillä rivillä, koska ne antavat sinulle automaattitarkistuksessa virheellisen vastauksen.

# Muokkaa vastauksesi siten, että se tulostetaan alla olevan tulos muuttujan avulla:
tulos.head()

        RoPS  HJK  Ilves
1995       9    3      7
1997       6    1      0
1999       8    2      0
2001  yli 10    2      0
2002       0    1      0

In [9]:
veikkausliiga = {1990: {'HJK': 1,'Kuusysi': 2,'MP': 3,'Reipas': 4,'RoPS': 5,'KuPS': 6,'TPS': 7,'Haka': 8,'Ilves': 9,'OTP': 10,'KPV': 11,'Kumu': 12},
1991: {'Kuusysi': 1,'MP': 2,'Haka': 3,'Jaro': 4,'HJK': 5,'Ilves': 6,'RoPS': 7,'Jazz': 8,'TPS': 9,'KuPS': 10,'OTP': 11,'Reipas': 12},
1992: {'HJK': 1,'Kuusysi': 2,'Jazz': 3,'MYPA': 4,'Jaro': 5,'Haka': 6,'RoPS': 7,'Ilves': 8,'TPS': 9,'MP': 10,'FC/AC Oulu': 11,'KuPS': 12},
1993: {'Jazz': 1,'MYPA': 2,'HJK': 3,'Kuusysi': 4,'FinnPa': 5,'TPV': 6,'RoPS': 7,'TPS': 8,'MP': 9,'Haka': 10,'Jaro': 11,'Ilves': 12},
1994: {'TPV': 1,'MYPA': 2,'HJK': 3,'Jazz': 4,'RoPS': 5,'Haka': 6,'Jaro': 7,'TPS': 8,'Kuusysi': 9,'FinnPa': 10,'MP': 11,'Ilves': 12,'FC/AC Oulu': 13,'KuPS': 14},
1995: {'Haka': 1,'MYPA': 2,'HJK': 3,'Jazz': 4,'Jaro': 5,'TPS': 6,'Ilves': 7,'FinnPa': 8,'RoPS': 9,'VPS': 10,'MP': 11,'TPV': 12,'Kuusysi': 13,'Ponnistus': 14},
1996: {'Jazz': 1,'MYPA': 2,'TPS': 3,'FinnPa': 4,'Jaro': 5,'Inter': 6,'VPS': 7,'RoPS': 8,'HJK': 9,'Ilves': 10,'Haka': 11,'MP': 12},
1997: {'HJK': 1,'VPS': 2,'FinnPa': 3,'TPS': 4,'MYPA': 5,'RoPS': 6,'Jazz': 7,'Jaro': 8,'TP-Seinäjoki': 9,'Inter': 10},
1998: {'Haka': 1,'VPS': 2,'PK-35': 3,'HJK': 4,'Jazz': 5,'TPS': 6,'MYPA': 7,'RoPS': 8,'FinnPa': 9,'Jaro': 10},
1999: {'Haka': 1,'HJK': 2,'MYPA': 3,'Jokerit': 4,'Inter': 5,'Jazz': 6,'KooTeePee': 7,'RoPS': 8,'TPS': 9,'Lahti': 10,'VPS': 11,'TPV': 12},
2000: {'Haka': 1,'Jokerit': 2,'MYPA': 3,'HJK': 4,'Jazz': 5,'TamU': 6,'Inter': 7,'Lahti': 8,'RoPS': 9,'VPS': 10,'TPS': 11,'KooTeePee': 12},
2001: {'TamU': 1,'HJK': 2,'MYPA': 3,'Haka': 4,'Inter': 5,'VPS': 6,'Atlantis': 7,'KuPS': 8,'Lahti': 9,'Jazz': 10,'Jokerit': 11,'RoPS': 12},
2002: {'HJK': 1,'MYPA': 2,'Haka': 3,'Allianssi': 4,'TamU': 5,'Inter': 6,'Jaro': 7,'Lahti': 8,'KuPS': 9,'Hämeenlinna': 10,'VPS': 11,'Jazz': 12},
2003: {'HJK': 1,'Haka': 2,'TamU': 3,'MYPA': 4,'Lahti': 5,'Allianssi': 6,'Inter': 7,'Jaro': 8,'TPS': 9,'Jokerit': 10,'Hämeenlinna': 11,'Jazz': 12,'KooTeePee': 13,'KuPS': 14},
2004: {'Haka': 1,'Allianssi': 2,'TamU': 3,'Inter': 4,'TPS': 5,'HJK': 6,'Lahti': 7,'MYPA': 8,'KooTeePee': 9,'TP-47': 10,'Jaro': 11,'RoPS': 12,'Jazz': 13,'Hämeenlinna': 14},
2005: {'MYPA': 1,'HJK': 2,'TamU': 3,'Haka': 4,'Inter': 5,'Lahti': 6,'Allianssi': 7,'KooTeePee': 8,'TPS': 9,'KuPS': 10,'Jaro': 11,'IFK Mariehamn': 12,'RoPS': 13,'TP-47': 14},
2006: {'TamU': 1,'HJK': 2,'Haka': 3,'Honka': 4,'IFK Mariehamn': 5,'MYPA': 6,'TPS': 7,'Lahti': 8,'VPS': 9,'Inter': 10,'KooTeePee': 11,'Jaro': 12,'KuPS': 13},
2007: {'TamU': 1,'Haka': 2,'TPS': 3,'Honka': 4,'MYPA': 5,'IFK Mariehamn': 6,'HJK': 7,'Lahti': 8,'Inter': 9,'VPS': 10,'Jaro': 11,'KooTeePee': 12,'Viikingit': 13,'FC/AC Oulu': 14},
2008: {'Inter': 1,'Honka': 2,'Lahti': 3,'HJK': 4,'MYPA': 5,'TPS': 6,'TamU': 7,'Haka': 8,'Jaro': 9,'RoPS': 10,'VPS': 11,'IFK Mariehamn': 12,'KuPS': 13,'KooTeePee': 14},
2009: {'HJK': 1,'Honka': 2,'TPS': 3,'IFK Mariehamn': 4,'Inter': 5,'Haka': 6,'TamU': 7,'VPS': 8,'MYPA': 9,'Jaro': 10,'Lahti': 11,'KuPS': 12,'JJK': 13,'RoPS': 14},
2010: {'HJK': 1,'KuPS': 2,'TPS': 3,'Honka': 4,'Jaro': 5,'Inter': 6,'TamU': 7,'Haka': 8,'MYPA': 9,'VPS': 10,'FC/AC Oulu': 11,'IFK Mariehamn': 12,'JJK': 13,'Lahti': 14},
2011: {'HJK': 1,'Inter': 2,'JJK': 3,'Honka': 4,'TPS': 5,'KuPS': 6,'IFK Mariehamn': 7,'MYPA': 8,'VPS': 9,'Haka': 10,'Jaro': 11,'RoPS': 12},
2012: {'HJK': 1,'Inter': 2,'TPS': 3,'IFK Mariehamn': 4,'Lahti': 5,'MYPA': 6,'Honka': 7,'VPS': 8,'JJK': 9,'KuPS': 10,'Jaro': 11,'Haka': 12},
2013: {'HJK': 1,'Honka': 2,'VPS': 3,'IFK Mariehamn': 4,'Lahti': 5,'MYPA': 6,'KuPS': 7,'TPS': 8,'Inter': 9,'Jaro': 10,'RoPS': 11,'JJK': 12},
2014: {'HJK': 1,'SJK': 2,'Lahti': 3,'VPS': 4,'IFK Mariehamn': 5,'Jaro': 6,'KuPS': 7,'MYPA': 8,'Inter': 9,'RoPS': 10,'Honka': 11,'TPS': 12},
2015: {'SJK': 1,'RoPS': 2,'HJK': 3,'Inter': 4,'Lahti': 5,'IFK Mariehamn': 6,'HIFK': 7,'Ilves': 8,'KuPS': 9,'VPS': 10,'KooTeePee': 11,'Jaro': 12},
2016: {'IFK Mariehamn': 1,'HJK': 2,'SJK': 3,'VPS': 4,'Ilves': 5,'RoPS': 6,'KuPS': 7,'Lahti': 8,'PS Kemi': 9,'HIFK': 10,'Inter': 11,'PK-35': 12},
2017: {'HJK': 1,'KuPS': 2,'Ilves': 3,'Lahti': 4,'IFK Mariehamn': 5,'SJK': 6,'RoPS': 7,'VPS': 8,'Inter': 9,'PS Kemi': 10,'HIFK': 11,'JJK': 12},
2018: {'HJK': 1,'RoPS': 2,'KuPS': 3,'Honka': 4,'Ilves': 5,'VPS': 6,'Inter': 7,'Lahti': 8,'SJK': 9,'IFK Mariehamn': 10,'TPS': 11,'PS Kemi': 12},
2019: {'KuPS': 1,'Inter': 2,'Honka': 3,'Ilves': 4,'HJK': 5,'IFK Mariehamn': 6,'HIFK': 7,'Lahti': 8,'SJK': 9,'RoPS': 10,'KPV': 11,'VPS': 12}}

In [60]:
liiga = {1990: {'HJK': 1,'Kuusysi': 2,'MP': 3,'Reipas': 4,'RoPS': 5,'KuPS': 6,'TPS': 7,'Haka': 8,'Ilves': 9,'OTP': 10,'KPV': 11,'Kumu': 12},
1991: {'Kuusysi': 1,'MP': 2,'Haka': 3,'Jaro': 4,'HJK': 5,'Ilves': 6,'RoPS': 7,'Jazz': 8,'TPS': 9,'KuPS': 10,'OTP': 11,'Reipas': 12},
1992: {'HJK': 1,'Kuusysi': 2,'Jazz': 3,'MYPA': 4,'Jaro': 5,'Haka': 6,'RoPS': 7,'Ilves': 8,'TPS': 9,'MP': 10,'FC/AC Oulu': 11,'KuPS': 12},
1993: {'Jazz': 1,'MYPA': 2,'HJK': 3,'Kuusysi': 4,'FinnPa': 5,'TPV': 6,'RoPS': 7,'TPS': 8,'MP': 9,'Haka': 10,'Jaro': 11,'Ilves': 12},
1994: {'TPV': 1,'MYPA': 2,'HJK': 3,'Jazz': 4,'RoPS': 5,'Haka': 6,'Jaro': 7,'TPS': 8,'Kuusysi': 9,'FinnPa': 10,'MP': 11,'Ilves': 12,'FC/AC Oulu': 13,'KuPS': 14},
1995: {'Haka': 1,'MYPA': 2,'HJK': 3,'Jazz': 4,'Jaro': 5,'TPS': 6,'Ilves': 7,'FinnPa': 8,'RoPS': 9,'VPS': 10,'MP': 11,'TPV': 12,'Kuusysi': 13,'Ponnistus': 14},
1996: {'Jazz': 1,'MYPA': 2,'TPS': 3,'FinnPa': 4,'Jaro': 5,'Inter': 6,'VPS': 7,'RoPS': 8,'HJK': 9,'Ilves': 10,'Haka': 11,'MP': 12},
1997: {'HJK': 1,'VPS': 2,'FinnPa': 3,'TPS': 4,'MYPA': 5,'RoPS': 6,'Jazz': 7,'Jaro': 8,'TP-Seinäjoki': 9,'Inter': 10},
1998: {'Haka': 1,'VPS': 2,'PK-35': 3,'HJK': 4,'Jazz': 5,'TPS': 6,'MYPA': 7,'RoPS': 8,'FinnPa': 9,'Jaro': 10},
1999: {'Haka': 1,'HJK': 2,'MYPA': 3,'Jokerit': 4,'Inter': 5,'Jazz': 6,'KooTeePee': 7,'RoPS': 8,'TPS': 9,'Lahti': 10,'VPS': 11,'TPV': 12},
2000: {'Haka': 1,'Jokerit': 2,'MYPA': 3,'HJK': 4,'Jazz': 5,'TamU': 6,'Inter': 7,'Lahti': 8,'RoPS': 9,'VPS': 10,'TPS': 11,'KooTeePee': 12},
2001: {'TamU': 1,'HJK': 2,'MYPA': 3,'Haka': 4,'Inter': 5,'VPS': 6,'Atlantis': 7,'KuPS': 8,'Lahti': 9,'Jazz': 10,'Jokerit': 11,'RoPS': 12},
2002: {'HJK': 1,'MYPA': 2,'Haka': 3,'Allianssi': 4,'TamU': 5,'Inter': 6,'Jaro': 7,'Lahti': 8,'KuPS': 9,'Hämeenlinna': 10,'VPS': 11,'Jazz': 12},
2003: {'HJK': 1,'Haka': 2,'TamU': 3,'MYPA': 4,'Lahti': 5,'Allianssi': 6,'Inter': 7,'Jaro': 8,'TPS': 9,'Jokerit': 10,'Hämeenlinna': 11,'Jazz': 12,'KooTeePee': 13,'KuPS': 14},
2004: {'Haka': 1,'Allianssi': 2,'TamU': 3,'Inter': 4,'TPS': 5,'HJK': 6,'Lahti': 7,'MYPA': 8,'KooTeePee': 9,'TP-47': 10,'Jaro': 11,'RoPS': 12,'Jazz': 13,'Hämeenlinna': 14},
2005: {'MYPA': 1,'HJK': 2,'TamU': 3,'Haka': 4,'Inter': 5,'Lahti': 6,'Allianssi': 7,'KooTeePee': 8,'TPS': 9,'KuPS': 10,'Jaro': 11,'IFK Mariehamn': 12,'RoPS': 13,'TP-47': 14},
2006: {'TamU': 1,'HJK': 2,'Haka': 3,'Honka': 4,'IFK Mariehamn': 5,'MYPA': 6,'TPS': 7,'Lahti': 8,'VPS': 9,'Inter': 10,'KooTeePee': 11,'Jaro': 12,'KuPS': 13},
2007: {'TamU': 1,'Haka': 2,'TPS': 3,'Honka': 4,'MYPA': 5,'IFK Mariehamn': 6,'HJK': 7,'Lahti': 8,'Inter': 9,'VPS': 10,'Jaro': 11,'KooTeePee': 12,'Viikingit': 13,'FC/AC Oulu': 14},
2008: {'Inter': 1,'Honka': 2,'Lahti': 3,'HJK': 4,'MYPA': 5,'TPS': 6,'TamU': 7,'Haka': 8,'Jaro': 9,'RoPS': 10,'VPS': 11,'IFK Mariehamn': 12,'KuPS': 13,'KooTeePee': 14},
2009: {'HJK': 1,'Honka': 2,'TPS': 3,'IFK Mariehamn': 4,'Inter': 5,'Haka': 6,'TamU': 7,'VPS': 8,'MYPA': 9,'Jaro': 10,'Lahti': 11,'KuPS': 12,'JJK': 13,'RoPS': 14},
2010: {'HJK': 1,'KuPS': 2,'TPS': 3,'Honka': 4,'Jaro': 5,'Inter': 6,'TamU': 7,'Haka': 8,'MYPA': 9,'VPS': 10,'FC/AC Oulu': 11,'IFK Mariehamn': 12,'JJK': 13,'Lahti': 14},
2011: {'HJK': 1,'Inter': 2,'JJK': 3,'Honka': 4,'TPS': 5,'KuPS': 6,'IFK Mariehamn': 7,'MYPA': 8,'VPS': 9,'Haka': 10,'Jaro': 11,'RoPS': 12},
2012: {'HJK': 1,'Inter': 2,'TPS': 3,'IFK Mariehamn': 4,'Lahti': 5,'MYPA': 6,'Honka': 7,'VPS': 8,'JJK': 9,'KuPS': 10,'Jaro': 11,'Haka': 12},
2013: {'HJK': 1,'Honka': 2,'VPS': 3,'IFK Mariehamn': 4,'Lahti': 5,'MYPA': 6,'KuPS': 7,'TPS': 8,'Inter': 9,'Jaro': 10,'RoPS': 11,'JJK': 12},
2014: {'HJK': 1,'SJK': 2,'Lahti': 3,'VPS': 4,'IFK Mariehamn': 5,'Jaro': 6,'KuPS': 7,'MYPA': 8,'Inter': 9,'RoPS': 10,'Honka': 11,'TPS': 12},
2015: {'SJK': 1,'RoPS': 2,'HJK': 3,'Inter': 4,'Lahti': 5,'IFK Mariehamn': 6,'HIFK': 7,'Ilves': 8,'KuPS': 9,'VPS': 10,'KooTeePee': 11,'Jaro': 12},
2016: {'IFK Mariehamn': 1,'HJK': 2,'SJK': 3,'VPS': 4,'Ilves': 5,'RoPS': 6,'KuPS': 7,'Lahti': 8,'PS Kemi': 9,'HIFK': 10,'Inter': 11,'PK-35': 12},
2017: {'HJK': 1,'KuPS': 2,'Ilves': 3,'Lahti': 4,'IFK Mariehamn': 5,'SJK': 6,'RoPS': 7,'VPS': 8,'Inter': 9,'PS Kemi': 10,'HIFK': 11,'JJK': 12},
2018: {'HJK': 1,'RoPS': 2,'KuPS': 3,'Honka': 4,'Ilves': 5,'VPS': 6,'Inter': 7,'Lahti': 8,'SJK': 9,'IFK Mariehamn': 10,'TPS': 11,'PS Kemi': 12},
2019: {'KuPS': 1,'Inter': 2,'Honka': 3,'Ilves': 4,'HJK': 5,'IFK Mariehamn': 6,'HIFK': 7,'Lahti': 8,'SJK': 9,'RoPS': 10,'KPV': 11,'VPS': 12}}

In [134]:
import pandas as pd
df=pd.DataFrame(liiga)
df=df.T
df=df.fillna(0)
df=df[df["HJK"]<=3]
df2=df[4:11][["RoPS","HJK","Ilves"]]
tulos=df2[["RoPS","HJK","Ilves"]].applymap(lambda x:"yli 10" if x>= 10 else x)
tulos["HJK"]=tulos["HJK"].astype(int)
tulos["Ilves"]=tulos["Ilves"].astype(int)
tulos.head()

        RoPS  HJK  Ilves
1995       9    3      7
1997       6    1      0
1999       8    2      0
2001  yli 10    2      0
2002       0    1      0

In [51]:
import pandas as pd
df=pd.DataFrame(veikkausliiga)
df

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
HJK,1.0,5.0,1.0,3.0,3.0,3.0,9.0,1.0,4.0,2.0,...,1.0,1.0,1.0,1.0,1.0,3.0,2.0,1.0,1.0,5.0
Kuusysi,2.0,1.0,2.0,4.0,9.0,13.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MP,3.0,2.0,10.0,9.0,11.0,11.0,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Reipas,4.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RoPS,5.0,7.0,7.0,7.0,5.0,9.0,8.0,6.0,8.0,8.0,...,NaN,12.0,NaN,11.0,10.0,2.0,6.0,7.0,2.0,10.0
KuPS,6.0,10.0,12.0,NaN,14.0,NaN,NaN,NaN,NaN,NaN,...,2.0,6.0,10.0,7.0,7.0,9.0,7.0,2.0,3.0,1.0
TPS,7.0,9.0,9.0,8.0,8.0,6.0,3.0,4.0,6.0,9.0,...,3.0,5.0,3.0,8.0,12.0,NaN,NaN,NaN,11.0,NaN
Haka,8.0,3.0,6.0,10.0,6.0,1.0,11.0,NaN,1.0,1.0,...,8.0,10.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ilves,9.0,6.0,8.0,12.0,12.0,7.0,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,5.0,3.0,5.0,4.0
OTP,10.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KPV,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
Kumu,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jaro,NaN,4.0,5.0,11.0,7.0,5.0,5.0,8.0,10.0,NaN,...,5.0,11.0,11.0,10.0,6.0,12.0,NaN,NaN,NaN,NaN
Jazz,NaN,8.0,3.0,1.0,4.0,4.0,1.0,7.0,5.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MYPA,NaN,NaN,4.0,2.0,2.0,2.0,2.0,5.0,7.0,3.0,...,9.0,8.0,6.0,6.0,8.0,NaN,NaN,NaN,NaN,NaN
FC/AC Oulu,NaN,NaN,11.0,NaN,13.0,NaN,NaN,NaN,NaN,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FinnPa,NaN,NaN,NaN,5.0,10.0,8.0,4.0,3.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TPV,NaN,NaN,NaN,6.0,1.0,12.0,NaN,NaN,NaN,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VPS,NaN,NaN,NaN,NaN,NaN,10.0,7.0,2.0,2.0,11.0,...,10.0,9.0,8.0,3.0,4.0,10.0,4.0,8.0,6.0,12.0
Ponnistus,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inter,NaN,NaN,NaN,NaN,NaN,NaN,6.0,10.0,NaN,5.0,...,6.0,2.0,2.0,9.0,9.0,4.0,11.0,9.0,7.0,2.0
TP-Seinäjoki,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PK-35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN
Jokerit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KooTeePee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN
Lahti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,...,14.0,NaN,5.0,5.0,3.0,5.0,8.0,4.0,8.0,8.0
TamU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Atlantis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Allianssi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hämeenlinna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TP-47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IFK Mariehamn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,7.0,4.0,4.0,5.0,6.0,1.0,5.0,10.0,6.0
Honka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,7.0,2.0,11.0,NaN,NaN,NaN,4.0,3.0
Viikingit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JJK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,3.0,9.0,12.0,NaN,NaN,NaN,12.0,NaN,NaN
SJK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,1.0,3.0,6.0,9.0,9.0
HIFK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,10.0,11.0,NaN,7.0
PS Kemi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.0,10.0,12.0,NaN

In [52]:
df=df.fillna(0)
df

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
HJK,1.0,5.0,1.0,3.0,3.0,3.0,9.0,1.0,4.0,2.0,...,1.0,1.0,1.0,1.0,1.0,3.0,2.0,1.0,1.0,5.0
Kuusysi,2.0,1.0,2.0,4.0,9.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MP,3.0,2.0,10.0,9.0,11.0,11.0,12.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Reipas,4.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RoPS,5.0,7.0,7.0,7.0,5.0,9.0,8.0,6.0,8.0,8.0,...,0.0,12.0,0.0,11.0,10.0,2.0,6.0,7.0,2.0,10.0
KuPS,6.0,10.0,12.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,...,2.0,6.0,10.0,7.0,7.0,9.0,7.0,2.0,3.0,1.0
TPS,7.0,9.0,9.0,8.0,8.0,6.0,3.0,4.0,6.0,9.0,...,3.0,5.0,3.0,8.0,12.0,0.0,0.0,0.0,11.0,0.0
Haka,8.0,3.0,6.0,10.0,6.0,1.0,11.0,0.0,1.0,1.0,...,8.0,10.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ilves,9.0,6.0,8.0,12.0,12.0,7.0,10.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,8.0,5.0,3.0,5.0,4.0
OTP,10.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
KPV,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
Kumu,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Jaro,0.0,4.0,5.0,11.0,7.0,5.0,5.0,8.0,10.0,0.0,...,5.0,11.0,11.0,10.0,6.0,12.0,0.0,0.0,0.0,0.0
Jazz,0.0,8.0,3.0,1.0,4.0,4.0,1.0,7.0,5.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MYPA,0.0,0.0,4.0,2.0,2.0,2.0,2.0,5.0,7.0,3.0,...,9.0,8.0,6.0,6.0,8.0,0.0,0.0,0.0,0.0,0.0
FC/AC Oulu,0.0,0.0,11.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,...,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FinnPa,0.0,0.0,0.0,5.0,10.0,8.0,4.0,3.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TPV,0.0,0.0,0.0,6.0,1.0,12.0,0.0,0.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VPS,0.0,0.0,0.0,0.0,0.0,10.0,7.0,2.0,2.0,11.0,...,10.0,9.0,8.0,3.0,4.0,10.0,4.0,8.0,6.0,12.0
Ponnistus,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Inter,0.0,0.0,0.0,0.0,0.0,0.0,6.0,10.0,0.0,5.0,...,6.0,2.0,2.0,9.0,9.0,4.0,11.0,9.0,7.0,2.0
TP-Seinäjoki,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PK-35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0
Jokerit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
KooTeePee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0
Lahti,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,14.0,0.0,5.0,5.0,3.0,5.0,8.0,4.0,8.0,8.0
TamU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Atlantis,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Allianssi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Hämeenlinna,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TP-47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
IFK Mariehamn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,7.0,4.0,4.0,5.0,6.0,1.0,5.0,10.0,6.0
Honka,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,7.0,2.0,11.0,0.0,0.0,0.0,4.0,3.0
Viikingit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
JJK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.0,3.0,9.0,12.0,0.0,0.0,0.0,12.0,0.0,0.0
SJK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,1.0,3.0,6.0,9.0,9.0
HIFK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,10.0,11.0,0.0,7.0
PS Kemi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,10.0,12.0,0.0

In [53]:
df=df.T
df

,HJK,Kuusysi,MP,Reipas,RoPS,KuPS,TPS,Haka,Ilves,OTP,...,Allianssi,Hämeenlinna,TP-47,IFK Mariehamn,Honka,Viikingit,JJK,SJK,HIFK,PS Kemi
1990,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1991,5.0,1.0,2.0,12.0,7.0,10.0,9.0,3.0,6.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1992,1.0,2.0,10.0,0.0,7.0,12.0,9.0,6.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1993,3.0,4.0,9.0,0.0,7.0,0.0,8.0,10.0,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1994,3.0,9.0,11.0,0.0,5.0,14.0,8.0,6.0,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1995,3.0,13.0,11.0,0.0,9.0,0.0,6.0,1.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,9.0,0.0,12.0,0.0,8.0,0.0,3.0,11.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,1.0,0.0,0.0,0.0,6.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,4.0,0.0,0.0,0.0,8.0,0.0,6.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,2.0,0.0,0.0,0.0,8.0,0.0,9.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000,4.0,0.0,0.0,0.0,9.0,0.0,11.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001,2.0,0.0,0.0,0.0,12.0,8.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2002,1.0,0.0,0.0,0.0,0.0,9.0,0.0,3.0,0.0,0.0,...,4.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003,1.0,0.0,0.0,0.0,0.0,14.0,9.0,2.0,0.0,0.0,...,6.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2004,6.0,0.0,0.0,0.0,12.0,0.0,5.0,1.0,0.0,0.0,...,2.0,14.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2005,2.0,0.0,0.0,0.0,13.0,10.0,9.0,4.0,0.0,0.0,...,7.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0
2006,2.0,0.0,0.0,0.0,0.0,13.0,7.0,3.0,0.0,0.0,...,0.0,0.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0,0.0
2007,7.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,...,0.0,0.0,0.0,6.0,4.0,13.0,0.0,0.0,0.0,0.0
2008,4.0,0.0,0.0,0.0,10.0,13.0,6.0,8.0,0.0,0.0,...,0.0,0.0,0.0,12.0,2.0,0.0,0.0,0.0,0.0,0.0
2009,1.0,0.0,0.0,0.0,14.0,12.0,3.0,6.0,0.0,0.0,...,0.0,0.0,0.0,4.0,2.0,0.0,13.0,0.0,0.0,0.0
2010,1.0,0.0,0.0,0.0,0.0,2.0,3.0,8.0,0.0,0.0,...,0.0,0.0,0.0,12.0,4.0,0.0,13.0,0.0,0.0,0.0
2011,1.0,0.0,0.0,0.0,12.0,6.0,5.0,10.0,0.0,0.0,...,0.0,0.0,0.0,7.0,4.0,0.0,3.0,0.0,0.0,0.0
2012,1.0,0.0,0.0,0.0,0.0,10.0,3.0,12.0,0.0,0.0,...,0.0,0.0,0.0,4.0,7.0,0.0,9.0,0.0,0.0,0.0
2013,1.0,0.0,0.0,0.0,11.0,7.0,8.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,2.0,0.0,12.0,0.0,0.0,0.0
2014,1.0,0.0,0.0,0.0,10.0,7.0,12.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,11.0,0.0,0.0,2.0,0.0,0.0
2015,3.0,0.0,0.0,0.0,2.0,9.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,1.0,7.0,0.0
2016,2.0,0.0,0.0,0.0,6.0,7.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,10.0,9.0
2017,1.0,0.0,0.0,0.0,7.0,2.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,12.0,6.0,11.0,10.0
2018,1.0,0.0,0.0,0.0,2.0,3.0,11.0,0.0,5.0,0.0,...,0.0,0.0,0.0,10.0,4.0,0.0,0.0,9.0,0.0,12.0
2019,5.0,0.0,0.0,0.0,10.0,1.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,6.0,3.0,0.0,0.0,9.0,7.0,0.0

In [65]:
df=df[df["HJK"]<=4]
df

,HJK,Kuusysi,MP,Reipas,RoPS,KuPS,TPS,Haka,Ilves,OTP,...,Allianssi,Hämeenlinna,TP-47,IFK Mariehamn,Honka,Viikingit,JJK,SJK,HIFK,PS Kemi
1990,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1992,1.0,2.0,10.0,0.0,7.0,12.0,9.0,6.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1993,3.0,4.0,9.0,0.0,7.0,0.0,8.0,10.0,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1994,3.0,9.0,11.0,0.0,5.0,14.0,8.0,6.0,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1995,3.0,13.0,11.0,0.0,9.0,0.0,6.0,1.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,1.0,0.0,0.0,0.0,6.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,2.0,0.0,0.0,0.0,8.0,0.0,9.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001,2.0,0.0,0.0,0.0,12.0,8.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2002,1.0,0.0,0.0,0.0,0.0,9.0,0.0,3.0,0.0,0.0,...,4.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003,1.0,0.0,0.0,0.0,0.0,14.0,9.0,2.0,0.0,0.0,...,6.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2005,2.0,0.0,0.0,0.0,13.0,10.0,9.0,4.0,0.0,0.0,...,7.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0
2006,2.0,0.0,0.0,0.0,0.0,13.0,7.0,3.0,0.0,0.0,...,0.0,0.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0,0.0
2009,1.0,0.0,0.0,0.0,14.0,12.0,3.0,6.0,0.0,0.0,...,0.0,0.0,0.0,4.0,2.0,0.0,13.0,0.0,0.0,0.0
2010,1.0,0.0,0.0,0.0,0.0,2.0,3.0,8.0,0.0,0.0,...,0.0,0.0,0.0,12.0,4.0,0.0,13.0,0.0,0.0,0.0
2011,1.0,0.0,0.0,0.0,12.0,6.0,5.0,10.0,0.0,0.0,...,0.0,0.0,0.0,7.0,4.0,0.0,3.0,0.0,0.0,0.0
2012,1.0,0.0,0.0,0.0,0.0,10.0,3.0,12.0,0.0,0.0,...,0.0,0.0,0.0,4.0,7.0,0.0,9.0,0.0,0.0,0.0
2013,1.0,0.0,0.0,0.0,11.0,7.0,8.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,2.0,0.0,12.0,0.0,0.0,0.0
2014,1.0,0.0,0.0,0.0,10.0,7.0,12.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,11.0,0.0,0.0,2.0,0.0,0.0
2015,3.0,0.0,0.0,0.0,2.0,9.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,1.0,7.0,0.0
2016,2.0,0.0,0.0,0.0,6.0,7.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,10.0,9.0
2017,1.0,0.0,0.0,0.0,7.0,2.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,12.0,6.0,11.0,10.0
2018,1.0,0.0,0.0,0.0,2.0,3.0,11.0,0.0,5.0,0.0,...,0.0,0.0,0.0,10.0,4.0,0.0,0.0,9.0,0.0,12.0

In [70]:
df2=df[4:11][["HJK","RoPS","Ilves"]]
df2

      HJK  RoPS  Ilves
1995  3.0   9.0    7.0
1997  1.0   6.0    0.0
1999  2.0   8.0    0.0
2001  2.0  12.0    0.0
2002  1.0   0.0    0.0
2003  1.0   0.0    0.0
2005  2.0  13.0    0.0

In [71]:
df3=df2[["HJK","RoPS","Ilves"]].applymap(lambda x:"yli 10" if x>= 10 else x)
df3

      HJK    RoPS  Ilves
1995  3.0       9    7.0
1997  1.0       6    0.0
1999  2.0       8    0.0
2001  2.0  yli 10    0.0
2002  1.0       0    0.0
2003  1.0       0    0.0
2005  2.0  yli 10    0.0

In [ ]:
import pandas as pd
df=pd.DataFrame(veikkausliiga)
df=df.fillna(0)
df=df.T
df2=df[5:16][["HJK","RoPS","Ilves"]]
df3=df2[["HJK","RoPS","Ilves"]].applymap(lambda x:"yli 10" if x>= 10 else x)
df3

4. Säädatan käsittelyä DataFramella (1)

In [2]:
### Palautettavan tehtävän osa alkaa tästä ###
def saa(url):
    
    # Kirjoita vastauksesi tähän:
    import pandas as pd
    url="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta1/harjoitukset/data_h1_t3.csv"
    df5=pd.read_csv(url)
    df5=df5[(df5["Kk"]==9) & (df5["Pv"]<=16)]
    df5=df5.sort_values(by=['mittari_1 (degC)'])
    df5["erotus"]=df5["mittari_1 (degC)"]-df5["mittari_2 (degC)"]
    df5["erotus"]=df5["erotus"].abs()
    
    # Vastauksesi tulostetaan. Älä käytä muita print toimintoja kuin tässä alla.
    print(df5[["mittari_1 (degC)","mittari_2 (degC)","erotus"]].head())
### Palautettavan tehtävän osa päättyy tähän.   

    
# Kokeile tekemääsi funktiota:
saa(url)

       mittari_1 (degC)  mittari_2 (degC)    erotus
2811           0.004600          6.594916  6.590316
21437          0.005601          3.937057  3.931456
14130          0.029420          0.965881  0.936460
10480          0.031741          0.663349  0.631607
245            0.037996          1.740839  1.702842

In [114]:
import pandas as pd
df5=pd.read_csv("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta1/harjoitukset/data_h1_t3.csv")
df5=df5[(df5["Kk"]==9) & (df5["Pv"]<=16)]
df5=df5.sort_values(by=['mittari_1 (degC)'])
df5["erotus"]=df5["mittari_1 (degC)"]-df5["mittari_2 (degC)"]
df5["erotus"]=df5["erotus"].abs()
df5[["mittari_1 (degC)","mittari_2 (degC)","erotus"]].head()

       mittari_1 (degC)  mittari_2 (degC)    erotus
2811           0.004600          6.594916  6.590316
21437          0.005601          3.937057  3.931456
14130          0.029420          0.965881  0.936460
10480          0.031741          0.663349  0.631607
245            0.037996          1.740839  1.702842

In [112]:
df4=pd.read_csv("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta1/harjoitukset/data_h1_t3.csv")
df4

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Sademäärä (mm),Lumensyvyys (cm),Ilman lämpötila (degC),mittari_1 (degC),mittari_2 (degC)
0,1959,1,1,00:00,UTC,0.998037,10.276037,-0.337938,-1.885120,-3.662372
1,1959,1,2,00:00,UTC,0.123413,7.232312,-0.262809,-2.496543,-5.860018
2,1959,1,3,00:00,UTC,3.567812,33.200206,-0.314398,0.000000,-6.511449
3,1959,1,4,00:00,UTC,1.088371,12.862410,-0.168625,0.143650,-0.970402
4,1959,1,5,00:00,UTC,0.331043,12.329527,-0.080934,-0.475664,-0.064682
...,...,...,...,...,...,...,...,...,...,...
22280,2020,1,1,00:00,UTC,0.050234,18.858150,0.063161,2.234535,-3.035392
22281,2020,1,2,00:00,UTC,-0.634797,8.575592,3.252960,4.614361,0.408165
22282,2020,1,3,00:00,UTC,0.430446,6.032358,2.257411,4.174304,0.365302
22283,2020,1,4,00:00,UTC,0.134233,7.694339,-0.631426,0.607762,-0.278246
22284,2020,1,5,00:00,UTC,0.982151,13.303229,-0.413817,-0.366675,-6.370976

In [106]:
df4=df_4[(df_4["Kk"]==9) & (df_4["Pv"]<=16)]
df4=df_4.sort_values(by=['mittari_1 (degC)'])
df4

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Sademäärä (mm),Lumensyvyys (cm),Ilman lämpötila (degC),mittari_1 (degC),mittari_2 (degC)
2811,1966,9,12,00:00,UTC,0.011664,-0.146732,6.362890,0.004600,6.594916
21437,2017,9,10,00:00,UTC,6.285577,-0.840465,1.097998,0.005601,3.937057
14130,1997,9,8,00:00,UTC,2.492000,-0.625139,6.518421,0.029420,0.965881
10480,1987,9,11,00:00,UTC,14.594250,-0.770094,2.808812,0.031741,0.663349
245,1959,9,3,00:00,UTC,-0.384002,-0.012022,7.332973,0.037996,1.740839
...,...,...,...,...,...,...,...,...,...,...
15954,2002,9,6,00:00,UTC,-0.524270,-0.652777,0.003761,20.084874,3.976289
13759,1996,9,2,00:00,UTC,0.000000,-0.637005,13.432771,20.136323,7.305799
22158,2019,9,1,00:00,UTC,-0.207539,-0.532844,11.695737,21.119341,8.629644
14858,1999,9,6,00:00,UTC,-0.339708,-0.141771,0.697734,21.130059,8.573908
1707,1963,9,4,00:00,UTC,3.912882,-0.490828,11.401742,21.542307,6.228165

In [111]:
df4["erotus"]=df4["mittari_1 (degC)"]-df4["mittari_2 (degC)"]
df4["erotus"]=df4["erotus"].abs()
df4.head()

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Sademäärä (mm),Lumensyvyys (cm),Ilman lämpötila (degC),mittari_1 (degC),mittari_2 (degC),erotus
2811,1966,9,12,00:00,UTC,0.011664,-0.146732,6.362890,0.004600,6.594916,6.590316
21437,2017,9,10,00:00,UTC,6.285577,-0.840465,1.097998,0.005601,3.937057,3.931456
14130,1997,9,8,00:00,UTC,2.492000,-0.625139,6.518421,0.029420,0.965881,0.936460
10480,1987,9,11,00:00,UTC,14.594250,-0.770094,2.808812,0.031741,0.663349,0.631607
245,1959,9,3,00:00,UTC,-0.384002,-0.012022,7.332973,0.037996,1.740839,1.702842
...,...,...,...,...,...,...,...,...,...,...,...
15954,2002,9,6,00:00,UTC,-0.524270,-0.652777,0.003761,20.084874,3.976289,16.108585
13759,1996,9,2,00:00,UTC,0.000000,-0.637005,13.432771,20.136323,7.305799,12.830524
22158,2019,9,1,00:00,UTC,-0.207539,-0.532844,11.695737,21.119341,8.629644,12.489696
14858,1999,9,6,00:00,UTC,-0.339708,-0.141771,0.697734,21.130059,8.573908,12.556150
1707,1963,9,4,00:00,UTC,3.912882,-0.490828,11.401742,21.542307,6.228165,15.314142

5. Säädatan käsittelyä DataFramella (2)

In [162]:
import pandas as pd
df=pd.read_csv("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta1/harjoitukset/data_h1_t3.csv")
df["erotus"]=df["mittari_1 (degC)"]-df["mittari_2 (degC)"]
df["erotus"]=df["erotus"].abs()
df=df[df["erotus"]<1.5]
df["Error"]="in"
df=df[(df["Kk"]==1)| (df["Kk"]==4) | (df["Kk"]==7) | (df["Kk"]==10)]
dfcopy=df.copy()
dfcopy=dfcopy[["Kk","erotus","Error"]]
dfcopy=dfcopy.rename(columns={"Kk":"Month", "erotus":"Difference"})
dfcopy.tail()

       Month  Difference Error
22206     10    0.609291    in
22212     10    0.031468    in
22214     10    1.353995    in
22215     10    1.184691    in
22283      1    0.886008    in

In [148]:
import pandas as pd
dfson=pd.read_csv("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta1/harjoitukset/data_h1_t3.csv")
dfson["erotus"]=dfson["mittari_1 (degC)"]-dfson["mittari_2 (degC)"]
dfson["erotus"]=dfson["erotus"].abs()
dfson

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Sademäärä (mm),Lumensyvyys (cm),Ilman lämpötila (degC),mittari_1 (degC),mittari_2 (degC),erotus
0,1959,1,1,00:00,UTC,0.998037,10.276037,-0.337938,-1.885120,-3.662372,1.777251
1,1959,1,2,00:00,UTC,0.123413,7.232312,-0.262809,-2.496543,-5.860018,3.363475
2,1959,1,3,00:00,UTC,3.567812,33.200206,-0.314398,0.000000,-6.511449,6.511449
3,1959,1,4,00:00,UTC,1.088371,12.862410,-0.168625,0.143650,-0.970402,1.114052
4,1959,1,5,00:00,UTC,0.331043,12.329527,-0.080934,-0.475664,-0.064682,0.410982
...,...,...,...,...,...,...,...,...,...,...,...
22280,2020,1,1,00:00,UTC,0.050234,18.858150,0.063161,2.234535,-3.035392,5.269927
22281,2020,1,2,00:00,UTC,-0.634797,8.575592,3.252960,4.614361,0.408165,4.206196
22282,2020,1,3,00:00,UTC,0.430446,6.032358,2.257411,4.174304,0.365302,3.809003
22283,2020,1,4,00:00,UTC,0.134233,7.694339,-0.631426,0.607762,-0.278246,0.886008
22284,2020,1,5,00:00,UTC,0.982151,13.303229,-0.413817,-0.366675,-6.370976,6.004301

In [149]:
dfson=dfson[dfson["erotus"]<1.5]
dfson["Error"]="in"
dfson=dfson[(dfson["Kk"]==1)| (dfson["Kk"]==4) | (dfson["Kk"]==7) | (dfson["Kk"]==10)]
dfson

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Sademäärä (mm),Lumensyvyys (cm),Ilman lämpötila (degC),mittari_1 (degC),mittari_2 (degC),erotus,Error
3,1959,1,4,00:00,UTC,1.088371,12.862410,-0.168625,0.143650,-0.970402,1.114052,in
4,1959,1,5,00:00,UTC,0.331043,12.329527,-0.080934,-0.475664,-0.064682,0.410982,in
7,1959,1,8,00:00,UTC,0.129390,9.277462,-1.610650,-1.891640,-3.323240,1.431599,in
8,1959,1,9,00:00,UTC,0.030418,34.768988,-4.565244,-1.059501,-2.452821,1.393320,in
9,1959,1,10,00:00,UTC,0.012167,27.140657,-1.570365,-1.594568,-2.505497,0.910930,in
...,...,...,...,...,...,...,...,...,...,...,...,...
22206,2019,10,19,00:00,UTC,5.572059,-0.416265,2.161761,1.884764,1.275474,0.609291,in
22212,2019,10,25,00:00,UTC,0.011420,-0.052428,0.770683,0.208896,0.177428,0.031468,in
22214,2019,10,27,00:00,UTC,0.304671,-0.161753,0.303615,1.309351,-0.044644,1.353995,in
22215,2019,10,28,00:00,UTC,0.001385,-0.433119,-1.097157,-0.413274,-1.597964,1.184691,in
22283,2020,1,4,00:00,UTC,0.134233,7.694339,-0.631426,0.607762,-0.278246,0.886008,in

In [156]:
dfsoncopy=dfson.copy()
dfsoncopy=dfsoncopy[["Kk","erotus","Error"]]
dfsoncopy

       Kk    erotus Error
3       1  1.114052    in
4       1  0.410982    in
7       1  1.431599    in
8       1  1.393320    in
9       1  0.910930    in
...    ..       ...   ...
22206  10  0.609291    in
22212  10  0.031468    in
22214  10  1.353995    in
22215  10  1.184691    in
22283   1  0.886008    in

[1709 rows x 3 columns]

In [161]:
dfsoncopy=dfsoncopy.rename(columns={"Kk":"Month", "erotus":"Difference"})
dfsoncopy.tail()

       Month  Difference Error
22206     10    0.609291    in
22212     10    0.031468    in
22214     10    1.353995    in
22215     10    1.184691    in
22283      1    0.886008    in

## cevaplar

 ## 1  NumPy-taulukot - kappaleen lähtönopeus
Kappaleen lähtönopeuden laskemiseksi on mitattu seuraava data:
kulma = [10, 15, 20, 25, 30]
kantama = [22.7, 21.9, 26.1, 28.8, 29.8],
missä kulma on vaakatason ja kappaleen lähtönopeusvektorin välinen kulma asteina ja kantama on kappaleen lentomatka yksiköissä cm.

Kappaleen lähtönopeus on silloin

nopeus=kantama⋅9.82 m/s2sin(2⋅kulma)‾‾‾‾‾‾‾‾‾‾‾‾‾√.

Kirjoita python funktio nopeus(kulma, kantama), joka otta argumenteikseen python listat (kulma ja kantama) ja tulostaa lopuksi yllä olevalla kaavalla lasketun parametrin nopeus.

Käytä numpy taulukoiden funktioita ratkaisussasi. Anna vastauksesi yksiköissä m/s. Sinun tarvitsee ottaa käyttöön ainoastaan annettu kaava sekä tehdä tarvittavat yksikkömuunnokset.

In [ ]:
# harjoitus1


def nopeus(kulma, kantama):
    import numpy as np
    
    kulmat = np.array(kulma)
    kantamat = np.array(kantama)/100
    nopeus = ((kantamat*9.82)/(np.sin(((np.pi)/180)*2*kulmat)))**0.5
    
    print(nopeus)

## 2 Nopanheitto
Heitettäessä kolmea noppaa todennäköisyys että kaikkien silmäluvut on erit on n. 56 %.

Testaa tätä "heittämällä" kolmea noppaa miljoonaa kertaa:

Tee NumPy:n randint-funktiolla NumPy-taulukko, jossa on 10 000 000 kpl satunnaislukuja väliltä 1-6. https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html#numpy.random.randint
Tee samanlainen taulukko vielä 2 kertaa
Tee sitten NumPy-taulukko jossa on True (tai 1) kun kolmessa "noppataulukossa" on kyseisellä paikalla kaikissa eri luku, ja False (tai 0), jos ei ole
Laske montako True-alkioita taulukossa on ja jaa se alkioiden määrällä
Pyöristä lopuksi vastauksesi numpyn round funktiolla kahden desimaalin tarkkuuteen (pitäisi tulla 0,56).
Voit tehdä "noppataulukoista" DataFramen tai tutkia pelkästään NymPy-taulukkoja

In [ ]:
# harjoitus 2


import numpy as np

noppa1 = np.random.randint(1,7,10000000)
noppa2 = np.random.randint(1,7,10000000)
noppa3 = np.random.randint(1,7,10000000)


onko_erit = (noppa1 != noppa2) & (noppa2 != noppa3) & (noppa1 != noppa3)
tulos = onko_erit.sum()/len(onko_erit)

print(np.round(tulos,decimals=2))

## 3 DataFrame - Veikkausliiga
Alla on sisäkkäisisitä sanakirjoista koostuva tietorakenne, jossa on jalkapallon Veikkausliigajoukkueiden sarjasijoitukset 1990-2019.

Tee sanakirjasta DataFrame, jossa vuodet ovat riviotsikoita ja joukkueet sarakeotsikoita.

Suodata ja tulosta sitten DataFramesta seuraava näkymä (älä valitse rivejä "käsin"):

Jos data sisältää puuttuvia arvoja NaN, niin sijoita näiden paikalle lukuarvo 0.
HJK:n sijoitus on ollut 3 parhaan joukossa.
Valitse rivit vuosilta 1995-2005 ja RoPS:n, HJK:n ja Ilveksen sarakkeet.
Kaikki yli 10 olevat sijoitukset korvataan merkkijonolla 'yli 10'.

Tulosta viisi ensimmäistä riviä suodattamastasi taulukosta.

In [ ]:
# harjoitus 3


import pandas as pd

veikkausliiga = {1990: {'HJK': 1,'Kuusysi': 2,'MP': 3,'Reipas': 4,'RoPS': 5,'KuPS': 6,'TPS': 7,'Haka': 8,'Ilves': 9,'OTP': 10,'KPV': 11,'Kumu': 12}, 1991: {'Kuusysi': 1,'MP': 2,'Haka': 3,'Jaro': 4,'HJK': 5,'Ilves': 6,'RoPS': 7,'Jazz': 8,'TPS': 9,'KuPS': 10,'OTP': 11,'Reipas': 12}, 1992: {'HJK': 1,'Kuusysi': 2,'Jazz': 3,'MYPA': 4,'Jaro': 5,'Haka': 6,'RoPS': 7,'Ilves': 8,'TPS': 9,'MP': 10,'FC/AC Oulu': 11,'KuPS': 12}, 1993: {'Jazz': 1,'MYPA': 2,'HJK': 3,'Kuusysi': 4,'FinnPa': 5,'TPV': 6,'RoPS': 7,'TPS': 8,'MP': 9,'Haka': 10,'Jaro': 11,'Ilves': 12}, 1994: {'TPV': 1,'MYPA': 2,'HJK': 3,'Jazz': 4,'RoPS': 5,'Haka': 6,'Jaro': 7,'TPS': 8,'Kuusysi': 9,'FinnPa': 10,'MP': 11,'Ilves': 12,'FC/AC Oulu': 13,'KuPS': 14}, 1995: {'Haka': 1,'MYPA': 2,'HJK': 3,'Jazz': 4,'Jaro': 5,'TPS': 6,'Ilves': 7,'FinnPa': 8,'RoPS': 9,'VPS': 10,'MP': 11,'TPV': 12,'Kuusysi': 13,'Ponnistus': 14}, 1996: {'Jazz': 1,'MYPA': 2,'TPS': 3,'FinnPa': 4,'Jaro': 5,'Inter': 6,'VPS': 7,'RoPS': 8,'HJK': 9,'Ilves': 10,'Haka': 11,'MP': 12}, 1997: {'HJK': 1,'VPS': 2,'FinnPa': 3,'TPS': 4,'MYPA': 5,'RoPS': 6,'Jazz': 7,'Jaro': 8,'TP-Seinäjoki': 9,'Inter': 10}, 1998: {'Haka': 1,'VPS': 2,'PK-35': 3,'HJK': 4,'Jazz': 5,'TPS': 6,'MYPA': 7,'RoPS': 8,'FinnPa': 9,'Jaro': 10}, 1999: {'Haka': 1,'HJK': 2,'MYPA': 3,'Jokerit': 4,'Inter': 5,'Jazz': 6,'KooTeePee': 7,'RoPS': 8,'TPS': 9,'Lahti': 10,'VPS': 11,'TPV': 12}, 2000: {'Haka': 1,'Jokerit': 2,'MYPA': 3,'HJK': 4,'Jazz': 5,'TamU': 6,'Inter': 7,'Lahti': 8,'RoPS': 9,'VPS': 10,'TPS': 11,'KooTeePee': 12}, 2001: {'TamU': 1,'HJK': 2,'MYPA': 3,'Haka': 4,'Inter': 5,'VPS': 6,'Atlantis': 7,'KuPS': 8,'Lahti': 9,'Jazz': 10,'Jokerit': 11,'RoPS': 12}, 2002: {'HJK': 1,'MYPA': 2,'Haka': 3,'Allianssi': 4,'TamU': 5,'Inter': 6,'Jaro': 7,'Lahti': 8,'KuPS': 9,'Hämeenlinna': 10,'VPS': 11,'Jazz': 12}, 2003: {'HJK': 1,'Haka': 2,'TamU': 3,'MYPA': 4,'Lahti': 5,'Allianssi': 6,'Inter': 7,'Jaro': 8,'TPS': 9,'Jokerit': 10,'Hämeenlinna': 11,'Jazz': 12,'KooTeePee': 13,'KuPS': 14}, 2004: {'Haka': 1,'Allianssi': 2,'TamU': 3,'Inter': 4,'TPS': 5,'HJK': 6,'Lahti': 7,'MYPA': 8,'KooTeePee': 9,'TP-47': 10,'Jaro': 11,'RoPS': 12,'Jazz': 13,'Hämeenlinna': 14}, 2005: {'MYPA': 1,'HJK': 2,'TamU': 3,'Haka': 4,'Inter': 5,'Lahti': 6,'Allianssi': 7,'KooTeePee': 8,'TPS': 9,'KuPS': 10,'Jaro': 11,'IFK Mariehamn': 12,'RoPS': 13,'TP-47': 14}, 2006: {'TamU': 1,'HJK': 2,'Haka': 3,'Honka': 4,'IFK Mariehamn': 5,'MYPA': 6,'TPS': 7,'Lahti': 8,'VPS': 9,'Inter': 10,'KooTeePee': 11,'Jaro': 12,'KuPS': 13}, 2007: {'TamU': 1,'Haka': 2,'TPS': 3,'Honka': 4,'MYPA': 5,'IFK Mariehamn': 6,'HJK': 7,'Lahti': 8,'Inter': 9,'VPS': 10,'Jaro': 11,'KooTeePee': 12,'Viikingit': 13,'FC/AC Oulu': 14}, 2008: {'Inter': 1,'Honka': 2,'Lahti': 3,'HJK': 4,'MYPA': 5,'TPS': 6,'TamU': 7,'Haka': 8,'Jaro': 9,'RoPS': 10,'VPS': 11,'IFK Mariehamn': 12,'KuPS': 13,'KooTeePee': 14}, 2009: {'HJK': 1,'Honka': 2,'TPS': 3,'IFK Mariehamn': 4,'Inter': 5,'Haka': 6,'TamU': 7,'VPS': 8,'MYPA': 9,'Jaro': 10,'Lahti': 11,'KuPS': 12,'JJK': 13,'RoPS': 14}, 2010: {'HJK': 1,'KuPS': 2,'TPS': 3,'Honka': 4,'Jaro': 5,'Inter': 6,'TamU': 7,'Haka': 8,'MYPA': 9,'VPS': 10,'FC/AC Oulu': 11,'IFK Mariehamn': 12,'JJK': 13,'Lahti': 14}, 2011: {'HJK': 1,'Inter': 2,'JJK': 3,'Honka': 4,'TPS': 5,'KuPS': 6,'IFK Mariehamn': 7,'MYPA': 8,'VPS': 9,'Haka': 10,'Jaro': 11,'RoPS': 12}, 2012: {'HJK': 1,'Inter': 2,'TPS': 3,'IFK Mariehamn': 4,'Lahti': 5,'MYPA': 6,'Honka': 7,'VPS': 8,'JJK': 9,'KuPS': 10,'Jaro': 11,'Haka': 12}, 2013: {'HJK': 1,'Honka': 2,'VPS': 3,'IFK Mariehamn': 4,'Lahti': 5,'MYPA': 6,'KuPS': 7,'TPS': 8,'Inter': 9,'Jaro': 10,'RoPS': 11,'JJK': 12}, 2014: {'HJK': 1,'SJK': 2,'Lahti': 3,'VPS': 4,'IFK Mariehamn': 5,'Jaro': 6,'KuPS': 7,'MYPA': 8,'Inter': 9,'RoPS': 10,'Honka': 11,'TPS': 12}, 2015: {'SJK': 1,'RoPS': 2,'HJK': 3,'Inter': 4,'Lahti': 5,'IFK Mariehamn': 6,'HIFK': 7,'Ilves': 8,'KuPS': 9,'VPS': 10,'KooTeePee': 11,'Jaro': 12}, 2016: {'IFK Mariehamn': 1,'HJK': 2,'SJK': 3,'VPS': 4,'Ilves': 5,'RoPS': 6,'KuPS': 7,'Lahti': 8,'PS Kemi': 9,'HIFK': 10,'Inter': 11,'PK-35': 12}, 2017: {'HJK': 1,'KuPS': 2,'Ilves': 3,'Lahti': 4,'IFK Mariehamn': 5,'SJK': 6,'RoPS': 7,'VPS': 8,'Inter': 9,'PS Kemi': 10,'HIFK': 11,'JJK': 12},2018: {'HJK': 1,'RoPS': 2,'KuPS': 3,'Honka': 4,'Ilves': 5,'VPS': 6,'Inter': 7,'Lahti': 8,'SJK': 9,'IFK Mariehamn': 10,'TPS': 11,'PS Kemi': 12}, 2019: {'KuPS': 1,'Inter': 2,'Honka': 3,'Ilves': 4,'HJK': 5,'IFK Mariehamn': 6,'HIFK': 7,'Lahti': 8,'SJK': 9,'RoPS': 10,'KPV': 11,'VPS': 12}}
df = pd.DataFrame(veikkausliiga).T
df[df.isna()]=0

# .astype(int) muuttaa kokonaisluvuiksi.
tulos = df.loc[(df['HJK']<4),:].astype(int)

tulos = tulos.loc[1995:2005,['RoPS','HJK','Ilves']]
tulos[tulos > 10] = 'yli 10'
tulos = tulos.head()

print(tulos)

## 4 Säädatan käsittelyä DataFramella (1)
Tee funktio saa(url), joka ottaa argumentikseen datan url:n ja tulostaa vastauksen alla kuvatulla tavalla:

lataa datan url:sta Pandasin DataFrameen,

valitsee kaikki syyskuun 1.-15. päivät, jolloin 'mittari_1 (degC)':n lämpötila on ollut matalampi kuin 'mittari_1 (degC)':n lämpötila 1.9.2000 lajiteltuna 'mittari_1 (degC)':n lämpötilan mukaan nousevasti,

tekee uuden sarakkeen "erotus", joka kertoo 'mittari_1 (degC)':n ja 'mittari_2 (degC)':n lämpötilojen erotuksen itseisarvon,

funktio tulostaa data frame talukosta "tulos" 5 ensimmäistä riviä, jossa ovat sarakkeet 'mittari_1 (degC)', 'mittari_2 (degC)' ja 'erotus'.

Tässä tehtävässä käytetään säähavaintodataa eräältä mittausasemalta vuosilta 1959-2020 seuraavasta url:sta:
url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta1/harjoitukset/data_h1_t3.csv

In [ ]:
# harjoitus 4



def saa(url):
    
    # Kirjoita vastauksesi tähän:
    import pandas as pd
    df = pd.read_csv(url, delimiter = ',')
    sarakkeet = ['mittari_1 (degC)', 'mittari_2 (degC)']
    raja = df[(df['Vuosi'] == 2000) & (df['Kk'] == 9) & (df['Pv'] == 1)]['mittari_1 (degC)']
    # raja ei ole nyt luku vaan Series, arvon siitä saa esim float(raja) tai raja.values[0]
    raja = raja.values[0]
    tulos = df[sarakkeet][(df['Kk']==9) & (df['Pv']<16) & (df['mittari_1 (degC)']<raja)].sort_values('mittari_1 (degC)',ascending = True)
    tulos['erotus'] = (tulos['mittari_1 (degC)'] - tulos['mittari_2 (degC)']).abs()
    
    # Vastauksesi tulostetaan. Älä käytä muita print toimintoja kuin tässä alla.
    print(tulos.head(5))

## 5 Säädatan käsittelyä DataFramella (2)
Tee python funktio saa(url), joka käyttää argumenttia url ja tekee seuraavaa:

lataa data DataFrameen,

tee uusi sarake "erotus", joka kertoo 'mittari_1 (degC)':n ja 'mittari_2 (degC)':n lämpötilojen erotuksen itseisarvon,
jos 'mittari_1 (degC)':n ja 'mittari_1 (degC)':n lämpötilojen erotus on pienempi kuin 1.5 astetta, niin kirjoita ko. riville uuteen sarakkeeseen 'virheraja' merkkijono 'in'.

valitse DataFrameen seuraavat kuukaudet: [1, 4, 7, 10],

valiset DataFramesta vain ne rivit joiden 'virheraja' sarakkeessa on merkkijono 'in',

valitse uuteen DataFrameen Pandasin .copy() toiminnolla sarakkeet 'Kk', 'erotus' ja 'virheraja',

kirjoita uuden DataFramen sarakkeiden nimiksi 'Month' sarakkeen 'Kk' tilalle, 'Difference' sarakkeen 'erotus' tilalle ja 'Error' sarakkeen 'virheraja' tilalle.

tulosta em. DataFramesta viisi viimeistä riviä.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta1/harjoitukset/data_h1_t3.csv

In [ ]:
# harjoitus 5


def saa(url):
    
    # Kirjoita vastauksesi tähän:
    import pandas as pd

    df = pd.read_csv(url, delimiter = ',')

    sarakkeet = ['mittari_1 (degC)', 'mittari_2 (degC)']
    df['erotus'] = (df['mittari_1 (degC)'] - df['mittari_2 (degC)']).abs()
    kuukaudet = [1, 4, 7, 10]
    df = df.loc[df['Kk'].isin(kuukaudet),:]
    df.loc[df['erotus']<1.5,'virheraja'] = 'in'
    df = df.loc[df['virheraja']=='in',:]
    tulos = df[['Kk', 'erotus', 'virheraja']].copy()
    tulos.columns = ['Month', 'Difference', 'Error']
    
    # Vastauksesi tulostetaan. Älä käytä muita print toimintoja kuin tässä alla.
    print(tulos.tail(5))