## harjoitus 1 Päästöjen aiheuttajia

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:

lataa datan DataFrameen url:sta, jossa erotinmerkkinä on tabulaattori ('\t'),

tallentaa DataFrameen sarakkeet 'country' ja 'main activity sector name',

poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'

laskee kuinka monta kertaa sarakkeen 'main activity sector name' eri arvot esiintyvät DataFramessa,

tulostaa (viisi ensimmäistä riviä) järjestyksessä pienimmästä suurimpaan sarakkeen 'main activity sector name' arvojen lukumäärät.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv


Esimerkiksi:

Testi	Tulos
emissions("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv")

In [14]:
def emissions(url):
    import pandas as pd

    df = pd.read_csv(url, sep='\t')
    sarakkeet = 'country\tcountry_code\tETS information\tmain activity sector name\tunit\tvalue\tyear'
    country = df[sarakkeet].str.split('\t').str[0]
    sector = df[sarakkeet].str.split('\t').str[3]

    df2 = pd.DataFrame({'country': country, 'sector': sector})
    
    str1 = '20-99 All stationary installations'
    str2 = '21-99 All industrial installations (excl. combustion)'
    df2=df2[~df2['sector'].isin([str1, str2])]
    
    tulos = df2['sector'].value_counts(ascending=True).head(5)

    print(tulos)
    
emissions("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv")

45 Capture of greenhouse gases under Directive 2009/31/EC       14
46 Transport of greenhouse gases under Directive 2009/31/EC     22
40 Production of glyoxal and glyoxylic acid                     37
39 Production of adipic acid                                    43
44 Production of soda ash and sodium bicarbonate               325
Name: sector, dtype: int64

## harjoitus 2 Päästöjen summaaminen

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:

lataa datan DataFrameen url:sta, jossa erotinmerkkinä on tabulaattori ('\t'),

tallentaa DataFrameen sarakkeet 'main activity sector name', 'value' ja 'year',

poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'

tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.

laskee uuteen DataFrameen kuinka paljon ovat kokonaispäästöt sektoreittain (summa sarakkeesta 'values', jotka on ryhmitelty sarakkeen 'main activity sector name' mukaan),

järjestää uuden DataFramen rivit suurimmasta pienimpään sarakkeen 'value' mukaan,

tulostaa viisi ensimmäistä riviä DataFramesta siten, että sarake 'main activity sector name' on nimetty sarakkeeksi 'sector',

huomaa, että sarake 'value' on ennen saraketta 'sector'.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi:

Testi	Tulos
emissions("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv")

In [13]:
def emissions(url):
    import pandas as pd

    df = pd.read_csv(url, sep='\t')
    sarakkeet = 'country\tcountry_code\tETS information\tmain activity sector name\tunit\tvalue\tyear'
    sector = df[sarakkeet].str.split('\t').str[3]
    value = df[sarakkeet].str.split('\t').str[5]
    year = df[sarakkeet].str.split('\t').str[6]
    
    df2 = pd.DataFrame({'sector': sector, 'value': value, 'year': year})
    
    str1 = '20-99 All stationary installations'
    str2 = '21-99 All industrial installations (excl. combustion)'
    df2=df2[~df2['sector'].isin([str1, str2])]
    
    df2['value']=pd.to_numeric(df2['value'], errors='coerce')
    df2['year']=pd.to_numeric(df2['year'], errors='coerce')
    df2=df2[(df2['year']<=2015) &(df2['year']>=2010)]
    
    tulos = df2.groupby(df2['sector'], as_index=False)['value'].sum().sort_values('value', ascending=False).head(5)
    tulos = tulos[['value', 'sector']]
    
    print(tulos)
    
emissions("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv")

           value                               sector
1   1.273006e+10               20 Combustion of fuels
5   2.053915e+09  24  Production of pig iron or steel
10  1.803550e+09      29 Production of cement clinker
2   1.678130e+09          21  Refining of mineral oil
0   5.644274e+08                          10 Aviation

## harjoitus 3 Päästöjen muutokset vuosittain

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:

lataa datan DataFrameen url:sta, jossa erotinmerkkinä on tabulaattori ('\t'),

tallentaa DataFrameen sarakkeet 'country_code', 'main activity sector name', 'value' ja 'year',

poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'

tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.

laskee uuteen DataFrameen kuinka paljon päästöjä on ollut yhteensä vuosittain (laskee yhteen sarakkeen 'value' arvot, jotka on ryhmitelty sarakkeen 'year' arvojen mukaan),

laskee uuteen DataFrameen uuteen sarakkeeseen 'change' kuinka paljon päästöt muuttuivat prosentuaalisesti edellisestä vuodesta (huom! vuoden 2010 arvo saa olla NaN, koska vuoden 2009 arvot on suodatettu pois),

pyöristää em. prosentuaalisen muutoksen yhden desimaalin tarkkuuteen,

laskee DataFramen uuteen sarakkeeseen 'cumsum' kumulatiivisen päästöjen summan vuodesta 2010 vuoteen 2015,

tulostaa edellä kuvatulla tavalla tuotetun DataFramen siten, että DataFramen indeksinä on 'year'.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi:

Testi	Tulos
emissions("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv")

In [10]:
url="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv"

def emissions(url):
    import pandas as pd

    df = pd.read_csv(url, sep='\t')
    sarakkeet = 'country\tcountry_code\tETS information\tmain activity sector name\tunit\tvalue\tyear'
    sector = df[sarakkeet].str.split('\t').str[3]
    value = df[sarakkeet].str.split('\t').str[5]
    year = df[sarakkeet].str.split('\t').str[6]
    ccode = df[sarakkeet].str.split('\t').str[1]
    
    df2 = pd.DataFrame({'ccode': ccode, 'sector': sector, 'value': value, 'year': year})
    
    df2['value']=pd.to_numeric(df2['value'], errors='coerce')
    df2['year']=pd.to_numeric(df2['year'], errors='coerce')
    df2=df2[(df2['year']<=2015) &(df2['year']>=2010)]
    df2['year']=df2['year'].astype(int)
    
    str1 = '20-99 All stationary installations'
    str2 = '21-99 All industrial installations (excl. combustion)'
    df2=df2[~df2['sector'].isin([str1, str2])]
    
    df2 = df2.sort_values(['year'], ascending=True)
    summat = df2['value'].groupby(df2['year']).sum()
    
    tulos = pd.DataFrame({'emissions': summat})
    
    tulos['diff'] = tulos['emissions'].diff()
    tulos['change']=((tulos['diff'])/(tulos['emissions'].shift(1))*100)
    
    tulos['cumsum']=tulos['emissions'].cumsum()
    tulos=tulos.drop('diff', axis=1)
    
    print(tulos)
    
emissions("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv")

         emissions     change        cumsum
year
2010  5.068290e+09        NaN  5.068290e+09
2011  3.505169e+09 -30.841192  8.573458e+09
2012  3.788401e+09   8.080412  1.236186e+10
2013  2.833849e+09 -25.196691  1.519571e+10
2014  2.891243e+09   2.025288  1.808695e+10
2015  3.341047e+09  15.557464  2.142800e+10

## harjoitus 4 Suurimmat kokonaispäästöt maittain
Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:

lataa datan DataFrameen url:sta, jossa erotinmerkkinä on tabulaattori ('\t'),

tallentaa DataFrameen sarakkeet 'country_code', 'main activity sector name', 'value' ja 'year',

poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'

tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.

laskee uuteen DataFrameen kuinka paljon päästöjä kukin maa on tuottanut minäkin vuonna (laskee yhteen sarakkeen 'value' arvot, jotka on ryhmitelty sarakkeiden 'country_code' ja 'year' mukaan),

tallentaa uuteen DataFrameen kunkin maan (sarake 'country_code') suurimmat päästöt (sarake 'value') ja päästön tuottamisvuoden (sarake 'year'),

järjestää em. DataFramen rivit suurimmasta pienimpään sarakkeen 'value' mukaan,

nimeää sarakkeen 'country_code' sarakkeeksi 'ccode',

tarvittaessa järjestää sarakkeet järjestykseen 'ccode', 'year', 'value' ja tulostaa viisi ensimmäistä riviä.

Vinkki: Tutki tarvittaessa pandasin groupby metodin kuvausta.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv


Esimerkiksi:

Testi	Tulos
emissions("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv")

In [15]:
def emissions(url):
    import pandas as pd

    df = pd.read_csv(url, sep='\t')
    sarakkeet = 'country\tcountry_code\tETS information\tmain activity sector name\tunit\tvalue\tyear'
    sector = df[sarakkeet].str.split('\t').str[3]
    value = df[sarakkeet].str.split('\t').str[5]
    year = df[sarakkeet].str.split('\t').str[6]
    ccode = df[sarakkeet].str.split('\t').str[1]
    
    df2 = pd.DataFrame({'ccode': ccode, 'sector': sector, 'value': value, 'year': year})
    
    df2['value']=pd.to_numeric(df2['value'], errors='coerce')
    df2['year']=pd.to_numeric(df2['year'], errors='coerce')
    df2=df2[(df2['year']<=2015) &(df2['year']>=2010)]
    df2['year']=df2['year'].astype(int)
    
    str1 = '20-99 All stationary installations'
    str2 = '21-99 All industrial installations (excl. combustion)'
    df2=df2[~df2['sector'].isin([str1, str2])]
    
    df3 = df2.groupby([df2['ccode'],df2['year']], as_index=False)['value'].sum() # tuloksena tulee suoraan DataFrame!
    
    df4 = df3.groupby('ccode', as_index=False)['value'].max()
    booleans = (df3['ccode'].isin(df4['ccode']) & df3['value'].isin(df4['value']))
    tulos = df3.loc[booleans,:].sort_values('value', ascending=False).head(5)
    print(tulos)
    

emissions("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv")

    ccode  year         value
30     DE  2010  1.298336e+09
66     GB  2010  6.420594e+08
50     ES  2012  5.579101e+08
150    PL  2010  4.605025e+08
102    IT  2010  4.505878e+08

## harjoitus 5 Toiseksi suurimmat päästöt maittain

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:

lataa datan DataFrameen url:sta, jossa erotinmerkkinä on tabulaattori ('\t'),

tallentaa DataFrameen sarakkeet 'country_code', 'main activity sector name', 'value' ja 'year',

poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'

tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.

laskee uuteen DataFrameen kuinka paljon päästöjä kukin maa on tuottanut minäkin vuonna (laskee yhteen sarakkeen 'value' arvot, jotka on ryhmitelty sarakkeiden 'country_code' ja 'year' mukaan),

tallentaa uuteen DataFrameen kunkin maan (sarake 'country_code') toiseksi suurimmat päästöt (sarake 'value') ja päästön tuottamisvuoden (sarake 'year'),

järjestää em. DataFramen rivit suurimmasta pienimpään sarakkeen 'value' mukaan,

nimeää sarakkeen 'country_code' sarakkeeksi 'ccode',

tarvittaessa järjestää sarakkeet järjestykseen 'ccode', 'year', 'value' ja tulostaa viisi ensimmäistä riviä.

Vinkkejä:

Tutki tarvittaessa pandasin groupby ja agg metodien kuvauksia.

Jos käytät pandasin agg metodin argumenttina funktiota, niin tulee funktion sisällä etsiä toiseksi suurin arvo .iloc ominaisuudella (Tämä on tärkeää etenkin tehtävän Moodle palautuksen yhteydessä).

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

In [18]:
def emissions(url):
    import pandas as pd
    import numpy as np
    pd.options.mode.chained_assignment = None
    def poistaalusta(x):
            return x[1:]

    def poistalopusta(x):
            return x[:-1]

    df = pd.read_table(url,sep='\t',quotechar = '.', converters = {'"country' : poistaalusta, 'year"' : poistalopusta})
    df["year"]=df['year"']
    df=df[["country_code","main activity sector name","value","year"]]
    l=(df["main activity sector name"]!='20-99 All stationary installations') & (df["main activity sector name"]!= "21-99 All industrial installations (excl. combustion)")
    df=df.loc[l]
    df2=df[(df["year"].str.isnumeric())]
    df2["year"]=df2["year"].astype(int)
    lista=(df2["year"]>= 2010) & (df2["year"]<= 2015)
    df2=df2[lista]
    df3 = pd.DataFrame(df2['value'].groupby([df2['country_code'], df2['year']]).sum())
    df3=df3.reset_index()
    df4=df3.loc[(df3.groupby('country_code')['value'].idxmax())]
    index=np.array(df4.index)
    df5=df3.drop(index,axis=0)
    df5=df5.loc[(df5.groupby('country_code')['value'].idxmax())]
    df5=df5.sort_values(by="value",ascending=False)
    df5["ccode"]=df5["country_code"]
    tulos=df5[["ccode","year","value"]].head()
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

    ccode  year         value
33     DE  2013  1.073414e+09
49     ES  2011  5.561922e+08
152    PL  2012  4.348634e+08
67     GB  2011  4.252068e+08
62     FR  2012  3.104471e+08

In [19]:
def emissions(url):
    import pandas as pd

    df = pd.read_csv(url, sep='\t')
    sarakkeet = 'country\tcountry_code\tETS information\tmain activity sector name\tunit\tvalue\tyear'
    sector = df[sarakkeet].str.split('\t').str[3]
    value = df[sarakkeet].str.split('\t').str[5]
    year = df[sarakkeet].str.split('\t').str[6]
    ccode = df[sarakkeet].str.split('\t').str[1]
    
    df2 = pd.DataFrame({'ccode': ccode, 'sector': sector, 'value': value, 'year': year})
    
    df2['value']=pd.to_numeric(df2['value'], errors='coerce')
    df2['year']=pd.to_numeric(df2['year'], errors='coerce')
    df2=df2[(df2['year']<=2015) &(df2['year']>=2010)]
    df2['year']=df2['year'].astype(int)
    
    str1 = '20-99 All stationary installations'
    str2 = '21-99 All industrial installations (excl. combustion)'
    df2=df2[~df2['sector'].isin([str1, str2])]
    
    df3 = df2.groupby([df2['ccode'],df2['year']], as_index=False)['value'].sum() # tuloksena tulee suoraan DataFrame!
    df3 = df3.sort_values(['ccode', 'value'], ascending=False)
    
    def toinen(x):
        return x.iloc[1]
    
    df4 = df3.groupby('ccode', as_index=False)['value'].agg(toinen)
    booleans = (df3['ccode'].isin(df4['ccode']) & df3['value'].isin(df4['value']))
    tulos = df3.loc[booleans,:].sort_values('value', ascending=False).head(5)
    
    print(tulos)